* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #000;
}

svg {
    width: 100%;
    height: 100%;
}

p {
    text-align: justify;
}

#app {
    position: relative;
    height: 100vh;
    max-width: 100vw;
    overflow: hidden;
}

#app-content {
    height: 100%;
    width: 100%;
    transition: all 300ms ease-out;
}

#top-navigation {
    height: 56px;
    background-color: rgb(171, 180, 194);
}

#main-container {
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    overflow-y: scroll;
    overflow-x: hidden;
}

.process-info {
    padding: 24px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #E0E0E0;
}

.process-model-container {
    position: relative;
    display: flex;
    flex: 100%;
    height: 100%;
    border-radius: 0!important;

    /*Free Snowball Dots SVG provided by SVGeez.com - CC 4.0 License - © 2019 Megan Young */
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0' gradientTransform='rotate(234,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%2387FCFF'/%3E%3Cstop offset='1' stop-color='%23D8FF8E'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(260,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23FF8480'/%3E%3Cstop offset='1' stop-color='%23FFD639'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='66'%3E%3Cpath transform='translate(-130.9 9.2) rotate(0.1999999999999993 1409 581) scale(0.9423400000000001)' d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='22' transform='translate(-152.5 97) rotate(10.6 800 450) scale(1.01146)' cx='500' cy='100' r='40'/%3E%3Cpath transform='translate(28.1 -124.5) rotate(87.5 401 736) scale(1.01146)' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='20'%3E%3Cpath transform='translate(582 -1.8000000000000007) rotate(0.4500000000000002 150 345) scale(0.9747799999999999)' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='44' transform='translate(-184.5 -261) rotate(82.80000000000001 1089 759)' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='translate(-374.8 105.2) rotate(13.8 1400 132) scale(0.815)' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    overflow-x: scroll;
    overflow-y: hidden;
}

.wrapper {
    padding: 16px;
    border-radius: 12px;
    border: none;
    background-color: #FFFFFF;
    -webkit-box-shadow: 5px 5px 13px 0px rgba(0, 0, 0, 0.39);
    box-shadow: 5px 5px 13px 0px rgba(0, 0, 0, 0.39);
}

/***************************************/
/*           PROCESS OBJECT            */
/***************************************/
.process-object {
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.88);
    padding: 24px 16px;
    overflow: hidden;
}

/*          HEADER           */
.po-header,
.process-info-title-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.main-icon-placeholder {
    width: 24px;
    height: 24px;
}
.title-inner-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.po-header-title-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.step-number-wrapper {
    width: 55px;
    height: 55px;
    display: block;
    border-radius: 50%;
    background-image: linear-gradient(45deg, rgba(2,0,36,1) 0%, rgba(0,93,130,1) 35%, rgba(0,212,255,1) 100%);
    padding: 4px;
}

.step-number-wrapper.color-success {
    background-image: linear-gradient(145deg, rgba(0, 255, 255, 1) 0%, rgba(204, 255, 102, 1) 100%);
}

.step-number-wrapper-inner {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #FFFFFF;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='200' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23CDCDCD' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23CDCDCD'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
    padding: 8px;
}

.step-number-wrapper-inner span.step-number {
    font-size: 26px;
    font-weight: 500;
}

/*          TOOLTIP           */
.tooltip-wrapper {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/*          ACTION           */
.action-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    justify-content: flex-start;
    padding: 8px 0;
    width: 100%;
}

.action-wrapper .btn-wrapper,
.tooltip-footer .btn-wrapper {
    padding: 4px;
    border-radius: 4px;
    background-image: linear-gradient(145deg, rgba(255, 0, 0, .5) 0%, rgba(255, 204, 0, .5) 100%);
}

.action-wrapper .btn-wrapper.color-success,
.tooltip-footer .btn-wrapper.color-success {
    background-image: linear-gradient(145deg, rgba(0, 255, 255, .5) 0%, rgba(204, 255, 102, .5) 100%);
}

.action-wrapper .btn-wrapper a,
.tooltip-footer .btn-wrapper a {
    text-decoration: none;
}

.action-wrapper .btn-wrapper .action-btn,
.tooltip-footer .btn-wrapper .action-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 4px;
    padding: 8px 32px;
    background-color: #FFFFFF;
    cursor: pointer;
}

.action-btn span {
    margin-right: 8px;
    text-transform: uppercase;
    font-weight: 500;
}

.action-btn .action-icon {
    width: 16px;
    height: 16px;
}

/*          STEP DESCRIPTION           */
.step-description-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 8px;
}
.step-description-wrapper p {
    line-height: 1.3;
}

.step-description-wrapper ul {
    margin-inline-start: 16px;
}

.step-description-wrapper ul li {

    font-size: 14px;
}

.step-number-placeholder {
    width: 55px;
    height: 55px;
    min-width: 55px;
    min-height: 55px;
}
.step-number-placeholder-sm {
    width: 55px;
    min-width: 55px;
    min-height: 8px;
}

/*          STEP OUTCOMES           */
.outcomes-item {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 16px;
}

.step-outcomes-inner,
.step-outcomes-info {
    display: flex;
    flex-direction: column;
}

.outcomes-step-number {
    display: block;
    border-radius: 4px;
    background-image: linear-gradient(145deg, rgba(255, 0, 0, 1) 0%, rgba(255, 204, 0, 1) 100%);
    padding: 2px;
}

.outcomes-step-number-inner {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='200' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23CDCDCD' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23CDCDCD'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
    padding: 6px;
}

.step-outcomes-info h5 {
    margin-bottom: 8px;
}

.step-outcomes-info p {
    color: rgb(118, 118, 118);
    font-size: 12px;
}

/*      DECORATION RIGHT - INFO       */
.process-info-right {
    position: absolute;
    top: 16px;
    right: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    z-index: 10;
}

.process-info-right .right-icon {
    max-height: 32px;
}

.process-info-right .right-icon svg {
    vertical-align: bottom;
}

.process-info-right p {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
}

/*      PROCESS PROGRESS      */
.step-progress {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.step-progress-header {
    width: 100%;
    height: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.progress-info-wrapper {
    height: inherit;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.progress-value {
    font-size: 14px;
    font-weight: 400;
    color: #000000;
}

.step-progress-bar {
    position: relative;
    width: 100%;
    height: 6px;
    border-radius: 4px;
    background-color: #E5E5E5;
}

.step-progress-bar::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 43%;
    height: 100%;
    display: block;
    background-image: linear-gradient(145deg, rgba(0, 255, 255, .5) 0%, rgba(204, 255, 102, .5) 100%);
    z-index: 99;
}

/***************************************/
/*            COMPONENTS               */
/***************************************/
.icon-placeholder {
    display: flex;
    width: 32px;
    height: 32px;
}
.step-icon {
    margin: 0 auto;
}
.step-icon.done-success {
    width: 20px;
    height: 20px;
    fill: currentColor;
}
.step-icon.done-success path {
    fill: rgb(0, 185, 0);
}
.spacer-sm {
    height: 8px;
    width: 8px;
    min-width: 8px;
    min-height: 8px;
}

.spacer-md {
    height: 16px;
    width: 16px;
    min-width: 16px;
    min-height: 16px;
}

.spacer-lg {
    height: 24px;
    width: 24px;
    min-width: 24px;
    min-height: 24px;
}

.divider-vertical {
    width: 2px;
    height: 100%;
    min-height: 35px;
    background-color: #E5E5E5;
}

div.step-outcomes-info ul.step-list {
    margin-inline-start: 1rem!important;
}
ul.step-list li {
    font-size: 12px;
    color: #767676
}

.no-padding {
    padding: 0 !important;
}
.materials-wrapper {
    padding: 16px 16px 16px 8px;
}
.materials-wrapper ul {
    margin-inline-start: 16px;
}
.materials-wrapper ul li a {
    color: #005d82;
    font-style: italic;
    line-height: 1.5;
}

/***************************************/
/*             LEFT COLUMN             */
/***************************************/
.content-row {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

/***************************************/
/*         INFORMATION DETAILS         */
/***************************************/
.info-details-container {
    padding: 16px;
    border-radius: 4px;
    background-color: #FFFFFF;
    /* box-shadow: rgba(171, 180, 194, 0.45) 0px 25px 20px -20px; */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

/***************************************/
/*             TAB WRAPPER             */
/***************************************/
.tab-wrapper {
    width: 100%;
    height: 46px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
    border-bottom: 1px solid #E5E5E5;
}
.tab-wrapper .tab-item-placeholder {
    width: 71px;
}
.tab-wrapper .tab-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 24px;
    text-decoration: none;
    border-bottom: 3px solid transparent;
    cursor: pointer;
}
.tab-wrapper .tab-item h6.tab-title {
    font-size: 14px;
    font-weight: 400;
    color: #000000;
}

.tab-wrapper .tab-item.active {
    border-bottom-color: #005d82;
    pointer-events: none;
}
.tab-wrapper .tab-item.active h6.tab-title {
    font-weight: 700;
    color: #005d82;
}

/***************************************/
/*           PROCESS DIAGRAM           */
/***************************************/
.diagram-wrapper {
    padding: 16px 8px 8px;
}
.diagram-container {
    min-height: 350px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding-bottom: 16px;
    overflow-y: hidden;
    overflow-x: scroll;
}
.diagram-col {
    width: 250px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 32px;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
}
.diagram-col-item {
    position: relative;
    width: 100%;
    height: 120px;
    padding: 8px;
    border-radius: 4px;
    border: 2px solid rgb(171, 180, 194);
    box-shadow: rgba(171, 180, 194, 0.45) 0px 25px 20px -20px;
    background-color: #FFFFFF;
    cursor: pointer;
    transition: all 300ms ease-out;
}
.diagram-item-wrapper {
    height: 100%;
    width: 100%;
    border-radius: 4px;
}
.diagram-item-content {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 8px;
    background-color: #FFFFFF;
}
.diagram-item-content .item-status {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 0;
    margin-top: 4px;
    gap: 8px;
    border-radius: 4px;
}
.item-status .item-status-icon {
    width: 16px;
    height: 16px;
}
.item-status span {
    font-size: 12px;
    font-weight: 400;
    color: #e81e63;
}


/*************************************/
/*      CURRENT STEP - ACTIVE        */
.diagram-col .diagram-col-item.current {
    padding: 0;
    box-shadow: rgba(0, 93, 130, 0.45) 0px 10px 15px -3px, rgba(0, 212, 255, 0.15) 0px 4px 6px -2px;
    border-width: 0;
}
.diagram-col-item.current .diagram-item-wrapper {
    padding: 4px;
    background-image: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,93,130,1) 35%, rgba(0,212,255,1) 100%);
}
.diagram-col-item.current h4, .diagram-col-item:hover h4, .diagram-col-item.done h4 {
    color: rgb(0, 0, 0);
}
.diagram-col-item small {
    position: absolute;
    top: -8px;
    left: 8px;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 0.5px;
    padding: 0 6px;
    text-transform: uppercase;
    background-color: #FFFFFF;
    opacity: 1;
    transition: opacity 300ms ease-out;
}

/*************************************/
/*           NEXT STEP              */
.diagram-col-item::after {
    content: "PREGLEDAJ";
    position: absolute;
    top: -2px;
    left: 8px;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 0.5px;
    padding: 0 6px;
    text-transform: uppercase;
    color: rgb(171, 180, 194);
    background-color: #FFFFFF;
    opacity: 0;
    z-index: 999;
    transition: all 300ms ease-out;
}
.diagram-col-item:hover::after {
    top: -6px;
    color: rgb(0, 0, 0);
    opacity: 1;

}
.diagram-col-item h4 {
    color: rgb(171, 180, 194);
}
.diagram-col-item:hover {
    border-width: 4px;
    border-color: rgb(0, 93, 130);
}
.diagram-col-item:hover .diagram-item-content small {
    opacity: 0;
}


/*************************************/
/*      PREVIOUS STEP - DONE        */
.diagram-col-item.done {
    padding: 0;
    border-width: 0;
}
.diagram-col-item.done .diagram-item-wrapper {
    padding: 4px;
    background-image: linear-gradient(145deg, rgba(0, 255, 255, 0.55) 0%, rgba(204, 255, 102, 0.55) 100%);
}

/*************************************/
/*        STEP - IN PREVIEW         */

/*************************************/
/*       DIAGRAM ITEM BUTTON        */

/* Bottom card button */
.diagram-item-button {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 35px;
    outline: none;
    border: none;
    background-image: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,93,130,1) 35%, rgba(0,212,255,1) 100%);
    transition: all 300ms ease-out;
    cursor: pointer;
}
.diagram-item-button span {
    color: #FFFFFF;
    font-size: 14px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}
.diagram-item-button .action-icon {
    fill: #FFFFFF;
    width: 16px;
    height: 16px;
}

/* FAB */
.diagram-item-fab {
    position: absolute;
    bottom: 4px;
    right: 4px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 4px;
    outline: none;
    border: none;
    border-radius: 50%;
    background-color: #0b1b1e;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    transition: all 300ms ease-out;
    cursor: pointer;
}

/* FAB WITH DESCRIPTION */
.diagram-item-fab {
    position: absolute;
    bottom: -10px;
    right: -10px;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: flex-end;
    outline: none;
    border: none;
    border-radius: 50%;
    background-color: #0b1b1e;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 4px 15px -2px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    overflow: hidden;
    transition: all 200ms ease-in-out;
    cursor: pointer;
}
.diagram-item-fab .fab-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 8px;
    min-width: 195px;
}
.diagram-item-fab .action-icon {
    width: 28px;
    height: 28px;
    transition: all 300ms ease-out;
}
.diagram-item-fab:hover {
    width: 195px;
    border-radius: 25px;
}
.diagram-item-fab:hover .action-icon{
    transform: rotateZ(180deg);
}
.diagram-item-fab span {
    min-width: 120px;
    text-align: center;
    color: #FFFFFF;
    font-size: 12px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

